@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --ring: 222.2 84% 4.9%;
    --radius: 1rem;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  /* Mobile-first text scaling */
  h1 {
    @apply text-2xl md:text-4xl;
  }

  h2 {
    @apply text-xl md:text-3xl;
  }

  h3 {
    @apply text-lg md:text-2xl;
  }

  p {
    @apply text-sm md:text-base;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: transparent;
}

/* Hide scrollbar when not scrolling */
body:not(:hover)::-webkit-scrollbar-thumb {
  background: transparent;
}

.font-general-sans {
  font-family: 'General Sans', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
