
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --ring: 222.2 84% 4.9%;
    --radius: 1rem;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

.font-general-sans {
  font-family: 'General Sans', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
